/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
  background-image: url('assets/background2.jpg'); /* Your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative; /* Needed for overlay */
}

/* Add this for the dark overlay */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust darkness here */
  z-index: -1; /* Keep it behind content */
}